* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin: 20px;
    padding: 0 20px;
}

.container > h1 {
    margin-bottom: 20px;
    color: firebrick;
    font-weight: bold;
    text-align: center;
}

.container > #content {

}

.prediction {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prediction > h2 {
    text-align: center;
}

.prediction > div {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: darkred;

    display: flex;
    justify-content: center;
}

.prediction > div > span {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}